html {
    color: #333;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif; 
    -webkit-font-smoothing: antialiased; 
}
body {
    font-size: 10px; 
    font-size: 1rem;
    background-color: #fffadd;
    background-image: url('../img/paper.jpg');
    background-size: cover;
    padding: 8px;
}

/* GENERAL */

.outer-wrapper {
    border: 4px solid #b60912;
}
.inverse {
    color: #fffadd;
    background-color: #B60912;
}
.red {
    color: #b60912;
}
.content {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.content-wide {
    width: 88%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
img {
    margin: 0;
    padding: 0;

}

button {
    background-color: #66cc99;
    padding: 12px;
    border: 2px solid #000;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

/* HEADER */

header .top-line {
    padding: 0.6rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.6rem;
}
header .lead-in {
    color: #b60912;
    font-size: 1.8rem;
    letter-spacing: 1.4rem;
    margin: 1rem;
    padding: 0.1rem;
    font-weight: bold;
}
header h1 {
    text-shadow: 4px 4px 4px #aaa;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4.6rem;
    margin: 0.2rem;
}
header h1 > span {
    font: italic 400 2.6rem/2.6rem "Gentium Book Basic", serif;
    letter-spacing: 0.2rem;
    text-transform: lowercase;
    vertical-align: middle;
}
header h2 {
    color: #666;
    font-weight: 200;
}

/* MAIN  */

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
section {
    border: 1px solid blue;
    margin: 0;
    padding: 0;
}

/*   */


#chick-img {
}
#ticket {
    vertical-align: top;
    cursor: pointer;
}
#guy-img {
}


/* FOOTER */

footer {
    padding: 1.6rem 4rem 1.6rem 4rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
footer div {
    margin-bottom: 0.2rem;
}
footer a:link, footer a:active, footer a:visited, footer a:hover {
    color: #36c;
}
footer a:hover {
    color: #33c;
}

